@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0px;
    color: #fff;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color:#BCAC9B;
    overflow: hidden;
}

h1{
    position: absolute;
    top: 5%;

    font-family: 'Courgette', cursive;
    text-shadow: 1px 0px 10px rgba(0, 0, 0, 0.212);
    font-size: 3rem;
    animation: intro 1.5s ease-in-out;
}

.divCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards img{
    margin-top: 80px;
}

@keyframes intro{
    0%{
        opacity: 0;
        transform: translateY(10rem)
    }
    100%{
        opacity: 1;
        transform: translateY(0%)
    }
}

/* p{
    font-family: 'Poppins', sans-serif;
} */