@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0px;
    color: #fff;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: flex-end;
    
    flex-wrap: wrap;
    gap: 10px;

    background-color:#BCAC9B;
    overflow: hidden;
}

h1{
    position: absolute;
    top: 5%;

    font-family: 'Courgette', cursive;
    text-shadow: 1px 0px 10px rgba(0, 0, 0, 0.212);
    font-size: 3rem;
    animation: intro 1.5s ease-in-out;
}

.divCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cards img{
    width: 120px;
}

.resultado{
    position: absolute;

    top: 20%;

    padding: 5px;
}

.resultado span{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    animation: introJogadorVencedor 1s ease-in-out;
}

@keyframes intro{
    0%{
        opacity: 0;
        transform: translateY(10rem)
    }
    100%{
        opacity: 1;
        transform: translateY(0%)
    }
}

@keyframes introJogadorVencedor{
    0%{
        opacity: 0;
        transform: translateY(5rem)
    }
    100%{
        opacity: 1;
        transform: translateY(0%)
    }
}

@media(max-width: 1250px){
    .cards img{
        width: 100px;
    }
}

@media(max-width: 500px){
    main{
        height: auto;
        padding-bottom: 5rem;
    }
    main div:nth-child(3){
        margin-top: 20rem;
    }
}
